body {
    font-family: 'Figtree', sans-serif;
    color:#011f3b;
    background-color: #fdfeff;
}

header {
    background-image: url("greenbackground.png");
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

h1 {
    color: #fdfeff;
    font-family: 'Imperial Script', serif;
    font-size: 3.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

h2 {
    color:#fdfeff;
    font-size: 2.5rem;
    margin-top: 0.625rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1rem;
    text-align: center;
}

.aloitussivu {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1.25rem;
    text-align: center;
    max-height: 50vh;
}

.ohjelma {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */
}
.kukkatausta {
    background-image: url("kukat_ms365.png");
    display: flex; /* Makes this a flex container */
    justify-content: center; /* Centers the child section horizontally */
    align-items: flex-start; /* Aligns the child section to the top initially */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Makes the container take up the entire viewport height */
    margin: 0;
    padding-top: 5vh; /* Adjust this to move the text slightly down from the top */
}

.ohjelma h3 {
    margin-bottom: 0.9rem;
    text-align: center;
}

.ohjelma p {
    text-align: center;
}

.tuloohjeet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 1.8rem;
    margin-top: 1.8rem;
}

.tuloohjeet img {
    width: 25vw;
    height: auto;
    margin-top: 1.25rem;
}

.valokuvat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1.25rem;
    text-align: center;
    height: auto;
}

.valokuvat h3 {
    margin-bottom: 1.25rem;
}

.valokuvat p {
    margin-bottom: 1.8rem;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 2.5rem 1.25rem;
}

.chat h3 {
    margin-top: 1.25rem;
}

.chat p {
    margin-bottom: 1.8rem;
}

.chat h3, .chat p {
    text-align: center;
}

#tlkio {
    margin-top: 1.25rem;
}

.kuusiboordi {
    background-image: url("forest.png");
    height: 25vh;
    display: flex;
}

footer {
    background-color: #0A2F23;
    color: #fdfeff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    flex-shrink: 0;
}

/* General styles for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 0.625rem; /* Distance from the top of the screen */
    left: 0.625rem; /* Distance from the left of the screen */
}

.dropbtn {
    background-color: #011f3b;/*toinen väri, joka alkup. navissa: #0f2f4f*/
    color: #fdfeff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 2.5rem; /* Adjust the size here */
    height: 2.5rem; /* Adjust the size here */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f2f4f;
    min-width: 10rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);/*halutaanko tämä? se ei varsinaisesti näy?-U-M*/
    z-index: 1;
    flex-direction: column;
}

.dropdown-content.show {
    display: flex;
}

.dropdown-content a {
    color: #fdfeff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #1763af;
}

@media (max-width: 768px) {
    .dropdown-content {
        width: 100%;
    }

    .dropbtn {
        display: block;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropbtn {
        display: none;
        cursor: default;
        margin-bottom: 1rem;
    }

    .dropdown-content {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0;
    }

    .dropdown-content a {
        display: block;
        color: #fdfeff;
        background-color: #011f3b;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        padding: 0.9rem 1rem;
    }

    .dropdown-content a:hover {
        background-color: #1763af;
    }

    .dropdown-content.show {
        display: flex;
    }
}

