/*Header*/
header {
    background-color: #1E3229;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}
h1 {
    color: #fdfeff;
    font-family: 'Imperial Script', serif;/*tähän Lotta vaihtaa ylimmän otsikon fontin */
    font-size: 6rem;
    margin: 1rem;
    text-align: center;
}
h2 {
    color:#fdfeff;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
}

/*Body*/
body {
    font-family: 'Figtree', sans-serif;
    height: auto;
}
h3 {
    color:#02110b;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
}
p {
    color:#02110b;
    backdrop-filter: blur(1rem);
    font-size: 1.25rem;
    text-align: center;
    max-width: 70vw;  /* muokkasin leipätekstin leveyttä - Sini*/
    
}

.kukkatausta {
    background-image: url("kukat_ms365.png");
    display: flex; /* Makes this a flex container */
    justify-content: center;  /*Centers the child section horizontally - tää toimii älä koske */
    align-items: flex-start; /* Aligns the child section to the top initially */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Makes the container take up the entire viewport height */
    margin: 0;
    
}
.vihreaTausta {
    background-image: url("vihreaTausta.png");
    display: flex; /* Makes this a flex container */
    justify-content: center; /* Centers the child section horizontally */
    align-items: flex-start; /* Aligns the child section to the top initially */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Makes the container take up the entire viewport height */
    margin: 0;
}
.custom-button {
    background-color: #1E3229; /* Asetetaan painikkeen taustaväri */
    color: #ffffff; /* Asetetaan painikkeen tekstin väri */
    border: none; /* Poistetaan reunus */
    padding: 10px 20px; /* Lisätään mukava padding */
    border-radius: 5px; /* Pyöristetään kulmia hieman */
    text-decoration: none; /* Poistetaan alleviivaus */
    display: inline-block; /* Varmistetaan, että marginaalit toimivat oikein */
    margin: 1rem;
}

/* Etusivu */
.aloitussivu {        
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */
}

/* Ohjelma */
.ohjelma {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */
}

/* Saapuminen */
.tuloohjeet {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */
}

iframe {
    max-width: 50vw;
    max-height: 50vw;
    margin: 1rem;
}

/* Valokuvat */
.valokuvat {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */

}

/* Chat */
.chat {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    justify-content: center; /* Centers content inside the .ohjelma section */
    align-items: center; /* Aligns text to the center horizontally */
    text-align: center;
    height: auto; /* Keeps height dynamic */
    padding: 1.25rem; /* Space around the text */
}

footer {
    background-color: #0A2F23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 2rem;
}

footer p {
    color: #fdfeff;
}

/* General styles for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 0.625rem; 
    /*left: 0.625rem;*/
}

/* Button (Hamburger) */
.dropbtn {
    background-color: #1E3229;
    color: #fdfeff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 2.5rem; 
    height: 2.5rem;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 5px; /* Optional: makes button rounded */
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1E3229;
    min-width: 10rem;
    z-index: 1;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

/* Show Dropdown when Active */
.dropdown-content.show {
    display: flex;
}

/* Dropdown Links */
.dropdown-content a {
    color: #fdfeff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #475F4F;
}

/* Mobiili */
@media (max-width: 768px) {
    .dropdown-content {
        width: 100%;
    }

    .dropbtn {
        display: block;
        width: 100%;
    }

    .custom-button {
        background-color: #1E3229; /* Asetetaan painikkeen taustaväri */
        color: #ffffff; /* Asetetaan painikkeen tekstin väri */
        border: none; /* Poistetaan reunus */
        padding: 10px 20px; /* Lisätään mukava padding */
        border-radius: 5px; /* Pyöristetään kulmia hieman */
        text-decoration: none; /* Poistetaan alleviivaus */
        display: inline-block; /* Varmistetaan, että marginaalit toimivat oikein */
    
    }

    .kukkatausta {
        background-size: cover; /* Fiksataan taustakuvaa niin, että kuva mukautuu taustaan */
        height: auto;
    }
}

/* Desktop */
@media (min-width: 769px) {
    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropbtn {
        display: none;
        cursor: default;
        margin-bottom: 1rem;
    }

    .dropdown-content {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0;
    }

    .dropdown-content a {
        display: block;
        color: #fdfeff;
        background-color: #1E3229;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        padding: 0.9rem 1rem;
    }

    .dropdown-content a:hover {
        background-color: #475F4F;
    }

    .dropdown-content.show {
        display: flex;
    }

}
