/* PÖYTÄKONE VERSIO Muokkaa tähän oikeat värit ja fontit */
@media screen and (min-width: 768px) {
    body {
        font-family: 'Figtree', sans-serif;
        color:#011f3b;
        background-color: #fdfeff;
    }

    h1 {
        font-family: 'Figtree', sans-serif;
        font-size: 3em;
        margin: 0;
    }

    header {
        background-image: url("starrynight.png");
        color: #fdfeff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    header img {
        height: 30vh;
    }

    h2 {
        font-family: 'Figtree', sans-serif;
        color:#fdfeff;
        font-size: 2.5em;
        margin-top: 10px;
    }

    h3{
        font-family: 'Figtree', sans-serif;
        color:#011f3b;
        font-size: 2.0em;
        margin-top: 10px;
    }

    p {
        font-size: 1.0em;
    }

    nav {
        background-color: #0f2f4f;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        display: block;
        color: #fdfeff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    nav ul li a:hover {
        background-color: #1763af;
    }

    section.aloitussivu {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        text-align: center;
    }

    .section.ohjelma {
        display: flex;
        flex-direction: column; /* Keeps elements stacked vertically */
        justify-content: center; /* Centers content inside the .ohjelma section */
        align-items: center; /* Aligns text to the center horizontally */
        text-align: center;
        height: auto; /* Keeps height dynamic */
        padding: 20px; /* Space around the text */
    }
    .kukkatausta {
        background-image: url("kukat_ms365.png");
        display: flex; /* Makes this a flex container */
        justify-content: center; /* Centers the child section horizontally */
        align-items: flex-start; /* Aligns the child section to the top initially */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Makes the container take up the entire viewport height */
        margin: 0;
        padding-top: 5vh; /* Adjust this to move the text slightly down from the top */
    }

    section.ohjelma h3 {
        margin-bottom: 15px;
        text-align: center;
    }

    section.ohjelma p {
        text-align: center;
    }

    section.tuloohjeet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        text-align: center;
        padding: 30px;
        margin-top: 30px;
    }

    section.tuloohjeet img {
        width: 25vw;
        height: auto;
        margin-top: 20px;
    }

    section.valokuvat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        text-align: center;
    }

    section.valokuvat h3 {
        margin-bottom: 20px;
    }

    section.valokuvat p {
        margin-bottom: 30px;
    }

    section.chat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 300px;
        text-align: center;
        padding: 40px 20px;
    }

    section.chat h3 {
        margin-top: 20px;
    }

    section.chat p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    section.chat h3, section.chat p {
        text-align: center;
    }

    #tlkio {
        margin-top: 20px;
    }

    .kuusiboordi {
        background-image: url("forest.png");
        height: 25vh;
        display: flex;
    }


    footer {
        background-color: #0A2F23;
        color: #fdfeff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
        width: 100vw;
        flex-shrink: 0;
        flex-direction: column;
        margin: 0;
    }
}
/* MOBIILI VERSIO Muokkaa tähän oikeat värit ja fontit */
@media screen and (max-width: 768px) {
    body {
        font-family: 'Figtree', sans-serif;
        color:#011f3b;
        background-color: #fdfeff;
    }

    h1 {
        font-family: 'Figtree', sans-serif;
        color: #fdfeff;
        font-size: 3em;
        margin: 0;
    }

    header {
        background-image: url("starrynight.png");
        color: #fdfeff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    header img {
        max-height: 30vh;
    }

    h2 {
        font-family: 'Figtree', sans-serif;
        color:#fdfeff;
        font-size: 2.5em;
        margin-top: 10px;
    }

    h3{
        font-family: 'Figtree', sans-serif;
        color:#011f3b;
        font-size: 2.0em;
        margin-top: 10px;
    }

    nav {
        background-color: #0f2f4f;
        overflow: hidden;
        display: block;
        float: none;
        justify-content: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav ul li {
        margin: 0 10px;
        text-decoration: none;
    }

    nav ul li a {
        display: block;
        color: #fdfeff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    nav ul li a:hover {
        background-color: #1763af;
    }

    section.aloitussivu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 50vh;
        text-align: center;
        padding: 40px 20px;
    }

    section.aloitussivu h3 {
        margin-top: 10px;
    }

    .section.ohjelma {
        display: flex;
        flex-direction: column; /* Keeps elements stacked vertically */
        justify-content: center; /* Centers content inside the .ohjelma section */
        align-items: center; /* Aligns text to the center horizontally */
        text-align: center;
        height: auto; /* Keeps height dynamic */
        padding: 20px; /* Space around the text */
    }
    
    .kukkatausta {
        background-image: url("kukat_ms365.png");
        display: flex; 
        justify-content: center;
        align-items: flex-start; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Makes the container take up the entire viewport height */
        margin: 0;
        padding-top: 5vh; /* Adjust this to move the text slightly down from the top */
    }

    section.ohjelma h3 {
        margin-bottom: 15px;
        text-align: center;
    }

    section.ohjelma p {
        font-size: 18px;
        text-align: center;
    }


    section.tuloohjeet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 75vh;
        text-align: center;
        padding: 30px;
        margin-top: 30px;
    }

    section.tuloohjeet img {
        width: 25vw;
        height: auto;
        margin-top: 20px;
    }

    section.valokuvat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        text-align: center;
    }

    section.valokuvat h3 {
        margin-bottom: 20px;
    }

    section.valokuvat p {
        margin-bottom: 30px;
    }

    section.chat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 75vh;
        text-align: center;
        padding: 40px 20px;
    }

    section.chat h3 {
        margin-top: 20px;
    }

    section.chat p {
        margin-bottom: 30px;
    }

    section.chat h2, section.chat p {
        text-align: center;
    }

    #tlkio {
        margin-top: 20px;
    }

    .kuusiboordi {
        background-image: url("forest.png");
        height: 25vh;
        display: flex;
    }

    footer {
        background-color: #0A2F23;
        color: #fdfeff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
        margin: none;
    }
  }